// $color-black: #333333;
// $color-grey: #575757;
// $color-medium-grey: #ebebec;
// $color-light-grey: #f3f3f4;

$color-orange: #ff9514;

$color-white: #ffffff;
$color-alicedblue: #f0f8ff;
$color-light-blue: #c2e8f6;
$color-blue: #7dd8f6;
$color-dark-blue: #1170f4;
$color-light-coral: #f9bac7;
$color-coral: #fb849c;
