@import "../../abstracts/var";

.chat__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;

  width: 100%;
}

@media (max-width: 768px) {
  .chat__form {
    flex-direction: row;
    align-items: flex-end;
  }
}
