@import "../../abstracts/var";

.message-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 10px 40px;

  color: $color-blue;
  font-size: inherit;
  text-align: start;

  border-radius: 12px;

  background-color: $color-white;

  box-shadow: inset 0px 0px 25px $color-light-blue;

  &__name {
    display: block;

    color: $color-dark-blue;

    &_right {
      color: $color-coral;
    }
  }

  &__text {
    display: block;
  }

  &_right {
    align-items: flex-end;
    align-self: flex-end;

    text-align: end;
  }
}

@media (max-width: 768px) {
  .message-element {
    padding: 10px;
  }
}
