@import "../../abstracts/var";
@import "../../base/font";
@import "../../base/custom";
@import "../../base/focus";

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  padding: 50px 20px;

  text-align: center;

  background-image: linear-gradient($color-white, $color-light-blue);
}
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }
}
